<%- include ("./templates/_header") %>

<p class="text-center"> <%= quiz.titulo %> </p>
<div class="container">
  <div class = "col-md">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center"> <%= quiz.preguntas[0].titulo %> </h2>
        <% quiz.preguntas[0].opciones.forEach((opcion, index) => {%>
          <button class="btn btn-primary respuesta" type="submit" value="<%= index %>">
            <%= opcion %>
          </button>
        <% }); %>
      </div>
      <div id="form-actualizar-respuesta" class="card-body d-none">
        <form action="/quizzes/registrar_respuesta" method="post">
          <button class="btn btn-primary" type="submit">
            Siguiente pregunta
          </button>
          <!-- <input name="email" id="email" class="d-none" value="<%= email %>"/> -->
          <input name="quiz_id" id="quiz_id" class="d-none" value="<%= quiz.id %>"/>
          <input name="indice_pregunta" id="indice_pregunta" class="d-none" value="<%= pregunta %>"/>
          <input name="respuesta" id="respuesta" class="d-none" value="-1"/>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.respuesta').forEach(respuesta => {
    respuesta.addEventListener('click', (e) => {
      e.preventDefault();
      console.log(e.target.value);
      document.querySelector('#form-actualizar-respuesta').classList.remove('d-none');;
      document.querySelector('#respuesta').value = e.target.value;
    });
  });
</script>

<%- include ("./templates/_footer") %>
