<%- include ("./templates/_header") %>
<p class="text-center"> <%= quiz.titulo %> </p>
<div class="container">
  <div class = "col-md">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center"> <%= pregunta.titulo %> </h2>
      </div>
      <div id="form-actualizar-respuesta" class="card-body">
        <form action="/quizzes/registrar_respuesta?quiz=<%= quiz._id %>&preguntaIdx=<%= preguntaIdx %>&email=<%= user %>" method="post">
          <% pregunta.opciones.forEach((opcion, index) => {%>
            <button class="btn btn-primary respuesta" type="submit" name="respuesta" value="<%= index %>">
              <%= opcion %>
            </button>
          <% }); %>
        </form>
        <% if (respuesta && !isLast) { %>
        <a href="/quizzes/preguntas/<%= quiz._id %>/<%= preguntaIdx + 1 %>?user=<%= user %>">
        <button class="btn btn-primary">
          Siguiente pregunta
        </button>
        </a>
        <% } %>
        <% if (isLast) { %>
        <a href="/quizzes/resultados/<%= quiz._id %>?user=<%= user %>">
        <button class="btn btn-primary">
          Finalizar examen
        </button>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
/*
  document.querySelectorAll('.respuesta').forEach(respuesta => {
    respuesta.addEventListener('click', (e) => {
      e.preventDefault();
      console.log(e.target.value);
      document.querySelector('#form-actualizar-respuesta').classList.remove('d-none');;
      document.querySelector('#respuesta').value = e.target.value;
    });
  });
*/
</script>

<%- include ("./templates/_footer") %>
